
<header>
  <div class="wrapper">
    <div class="spinny-wrapper">
      <h1>I WILL&nbsp;
        <span class="spinny-words">
          <span>LEARN</span>
          <span>PRACTICE</span>
          <span>SPEAK</span>
          <span>ENJOY</span>
          <span>UPGRADE</span>
          <span>BE HAPPY</span>
        </span>
      </h1>
    </div>
    
  </div>
</header>

<div class="container">

<div class="row">
    <div class="col-md-4 icon">
        <img src="./assets/img/book.png" alt="">
        <h2>Educación de Calidad</h2>
      </div>
      <div class="col-md-4 icon">
    
        <img src="./assets/img/course.png" alt="">
        <h2>Cursos Especializados</h2>
      </div>
      <div class="col-md-4 icon">
    
        <img src="./assets/img/test.png" alt="">
        <h2>Exámenes Personalizados</h2>
    
      </div>
</div>

  

</div>
