<div class="wrapper">
  
  <div style="margin-top: 2.5vh" class="row">
      <div class="col-6 offset-1 text">
          <h1>¡Welcome!</h1>
        </div>
  </div>

  <div class="container-fluid">
    <div  class="col-12">
      <div class="row text-center justify-content-md-center">
       <div class="col-3">
          <div class="card" style="width: 18rem;">
              <img class="card-img-top" src="https://cdn2.iconfinder.com/data/icons/professions/512/user_boy_avatar-512.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">{{alumno.nombre}} {{alumno.apellido}} ({{alumno.usuario}})</h5>
                <p class="card-text">Bienvenido, a continuacion tiene una variedad de cursos de acuerdo a su nivel. Puede avanzar de nivel al ir completando cursos.</p>
                <p class="nivel">Nivel: {{alumno.nivel}}</p>
              </div>
            </div>
       </div>
       <!--LISTADO CURSOS-->
       <div class="col-8">
         <div class="row" *ngFor="let curso of cursos">
           <div class="col-md-12">
              <div class="card" *ngIf="curso.nivel <= (alumno.nivel)">
                  <!-- <div>
                    <h1>{{probarNota(curso.examen)}}</h1>
                  </div> -->
                  <div *ngIf="curso.nivel < alumno.nivel" class="card-header bg-success text-white">
                    <h3>{{curso.titulo}} - <strong>Curso Aprobado</strong></h3>
                  </div>
                  <div *ngIf="curso.nivel >= alumno.nivel" class="card-header bg-primary text-white">
                    <h3>{{curso.titulo}}</h3>
                  </div>
                  <div class="card-body">
                    <h5 class="card-title">Nivel: {{curso.nivel}}</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ipsa harum, consequuntur reiciendis accusamus doloremque neque, nostrum delectus cum maiores cumque consequatur optio laborum voluptatum natus provident quod. Quae, dolor?</p>
                    <button *ngIf="curso.nivel < alumno.nivel" class="btn btn-success" (click)="SetCurso(curso._id)" [routerLink]="['/curso']">Repetir Curso</button>
                    <button *ngIf="curso.nivel >= alumno.nivel" class="btn btn-primary" (click)="SetCurso(curso._id)" [routerLink]="['/curso']">Let´s start</button>
                  </div>
                </div>
           </div>
         </div>
       </div>
       <!---->
      </div>
    </div>
  </div>
    
</div>